module.exports = config;
var fs=require('fs');
var config = {}
config.web={};
config.game={};
config.web.host=true;
config.web.port=8080;
config.web.ports=8443;
config.web.https={
  key: fs.readFileSync('./https/server.key'),
  cert: fs.readFileSync('./https/server.crt'),
  ca: fs.readFileSync('./https/ca.crt'),
  requestCert: true,
  rejectUnauthorized: false
};
config.game.worlds={};
config.game.worlds[1]=['mix',8081];
config.knex={
  client:'pg',
  connection: {
    host:'127.0.0.1',
    user:'your_database_user',
    password:'your_database_password',
    database:'jbogame'
  }
};
// stores state locally, don't use this in production
config.brutestore=require('express-brute').MemoryStore();
config.bruteopt={
  maxWait:600000//10m
};
module.exports = config;
