module.exports = config;
var fs=require('fs');
var config = {}
config.web={};
config.game={};
config.web.host=true;
config.web.port=8080;
config.web.ports=8443;
config.web.https={
  key: fs.readFileSync('./https/zdelu.key'),
  cert: fs.readFileSync('./https/zdelu.crt')
};
config.game.worlds={};
config.game.worlds[1]=['mix',8081];
config.knex={
  client:'pg',
  connection: {
    host:'127.0.0.1',
    user:'postgres',
    database:'jbogame'
  }
};
// stores state locally, don't use this in production
var ExpressBrute=require('express-brute'),
  store=new (ExpressBrute.MemoryStore)();
config.brute=new ExpressBrute(store,{
  maxWait:600000//10m
});
module.exports = config;
