var fs=require('fs'),
  path=require('path'),
  Promise=require('bluebird');

//the essentials
var proxyw=1,
  frontw=1,
  nodes=true,
  rev=5000;//if this is truthy, we rev and wait this long to allocate nodes

var config = {};
var dnjoin=config.dnjoin=path.join.bind(path,__dirname);
config.static=function(app,express) {
  return function(url,dir) {
    app.use(url,express.static(dnjoin(dir)))
  };
};
config.proxy={};//head of everything
config.front={};//frontend website
config.server={};//gameservers
config.proxy.workers=proxyw;
config.proxy.port=8080;
config.proxy.ports=8443;
config.proxy.https=function() {
  return {
    key: fs.readFileSync('./proxy/https/zdelu.key'),
    cert: fs.readFileSync('./proxy/https/zdelu.crt')
  };
};
config.front.host='127.0.0.1';
config.front.workers=frontw;
config.front.port=1300;
config.front.rounds=8;
config.front.tokenl=32;
config.front.cd={};
config.front.cd.dir='client';
config.front.tools=false;
config.server.makenodes=nodes;
config.server.rev=rev;
config.server.host='127.0.0.1';
config.server.statustime=10000;//average time between status reports
config.server.wdtime=1000;//time before watchdog complains
config.server.port=9000;
config.knex={
  client:'pg',
  connection: {
    host:'127.0.0.1',
    user:'postgres',
    database:'jbogame'
  }
};
config.rdcl=function(redis) {
  var rdcl=redis.createClient(
    {
      host:'127.0.0.1',
      port:6379,
      options:{}
    });
  //bluebird promise for one-time sub events
  //caution, don't make a promise for a channel that hasn't been settled yet
  rdcl.bbmsg=function() {
    var channels={};
    this.on('message',function(channel,message) {
      if(channel in channels) channels[channel](message);
      delete channels[channel];
    });
    var self=this;
    function sub(channel) {
      self.subscribe(channel);
      return new Promise(function(resolve) {
        channels[channel]=resolve;
      })
    };
    sub.quit=this.quit.bind(this);
    return sub;
  }
  return rdcl;
};
config.brute=function() {
  // stores state locally, don't use this in production
  var ExpressBrute=require('express-brute'),
  store=new (ExpressBrute.MemoryStore)();
  return new ExpressBrute(store,{
    maxWait:600000//10m
  });
};
module.exports = config;
