html, body{
  height:100%;
}
body {
  overflow:hidden;
}
* {
  margin:0;
  padding:0;
  font-family:sans-serif;
}
canvas.game {
  width:100% !important;
  height:100% !important;
}

div.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}

.ui-dialog-content input[type="text"],
.ui-dialog-content input[type="password"] {
  width:3cm;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
.red {
  color:red;
}

.logfb {
  display:block;
  margin-top:0.5em;
  font-size:0.8em;
}
