extends ./layout.jade

block content
  p This is the homepage for zdelu, an in-progress multiplayer game that will
    | feature Lojban.
  p #[a(href='kelci') play] or #[a(href='plibiho') sign up]
    |  or #[a(href='japlerpoi') change password]
