doctype html
html
  head
    meta(charset='UTF-8')
    block title
      title ko kelci la zdelu
    link(rel='stylesheet', href='css/main.css')
    script(src='/js/lib/jquery/dist/jquery.min.js')
    block head
  body
    div.content
      block content
